*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

textarea{
  resize: none;
}

.customInput{
  width: 100%;
  white-space: pre-wrap;
}

:root{
  --h-FullVh: 100vh;
  --h-Full: 100%;
  --w-Full: 100%;

  /* COLORS */

  --color-primary: #0077cc;
  --color-primaryStrong: #1b5884;
  --color-accent: #ff6600;
  --color-delete: #ff4d4d;
  --color-success: #4BB543;
  --color-cancel: #9cb8ba;
  --color-whitesmoke: #f5f5f5;

}

.main{
  width: var(--w-Full);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline: 5%;

}

.inputError, .inputSuccess{
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  margin-top: .5rem;
}

.inputError{
  border: 2px solid var(--color-delete);
}

.inputSuccess{
  border: 2px solid var(--color-success);
}